.nav-link:hover{
    border-bottom: white solid 2px;
}
h1{
    text-align: center;
    padding-top: 15px;
}

#product_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px;
    .card{
        margin: 25px;
        padding: 15px;
        width: 18rem;
        img{
            height: 40%;
            object-fit: cover;
            border: solid black 1px;
        }
    }
}
footer{
    
    bottom: 0;
    width: 100%;
    p{
        padding:40px 0 40px 0;
        margin-bottom: 0;
    }
}
select {
    margin: 10px;
}
#cart_summary{
    text-align: center;
    table{
        tr{
            border:solid black 1px;
            height:60px
        }
        .article_col{
            width: 50%;
        }
        .price_col{
            width:15%;
        }
        .delete_col{
            width:10%;
        }
        th .delete_col{
            width: 10%;
        }
        width:90%;
        margin: 0 5% 30px 5%;
        border-collapse : collapse;
        caption-side:top;
        border:black solid 1px;
        img{
            height:30px;
            cursor: pointer;
        }
    }
    btn{
        margin:20px;
    }
}
form{
    padding: 20px;
    margin:20px;
}
#confirm{
    text-align:center;
    span{
        font-weight: bold;
    }
    a{
       display:inline-block;
       padding:0;
    }
    p{
        margin:20px;
    }
}